/* form{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
} */
.container {
    width: 100%;
    height: 88vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
form input{
    border: none;
}